In [1]:
# The code was removed by DSX for sharing.

  mpg cylinders engine horsepower weight acceleration year origin
1 18  8         307    130        3504   12.0         70   American
2 15  8         350    165        3693   11.5         70   American
3 18  8         318    150        3436   11.0         70   American
4 16  8         304    150        3433   12.0         70   American
5 17  8         302    140        3449   10.5         70   American
6 15  8         429    198        4341   10.0         70   American
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [2]:
# The code was removed by DSX for sharing.

Loading required package: RODBC
Loading required package: Matrix
Loading required package: arules

Attaching package: ‘arules’

The following objects are masked from ‘package:base’:

    abbreviate, write

  PRODUCT_LINE             GENDER AGE MARITAL_STATUS PROFESSION
1 Personal Accessories     F      29  Single         Sales
2 Personal Accessories     F      29  Single         Sales
3 Mountaineering Equipment F      37  Married        Other
4 Mountaineering Equipment F      37  Married        Other
5 Personal Accessories     F      22  Single         Professional
6 Camping Equipment        F      22  Single         Professional

In [3]:
install.packages('keras')

also installing the dependencies ‘debugme’, ‘config’, ‘processx’, ‘rstudioapi’, ‘whisker’, ‘reticulate’, ‘tensorflow’, ‘tfruns’, ‘zeallot’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [ ]:
install.packages("devtools")
devtools::install_github("Brunel-Visualization/Brunel", subdir="R", ref="v2.3")